@media (max-width: 1016px) {
  .bottom {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-bottom: 50px;
}
  h1 {
    font-size: 2rem;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .cards img {
    width:100px;
    height: 100px;
}

.portrait {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16ch;
}

.portrait p {
  font-size: .8rem;
  text-align: center;
}
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    overflow: hidden;
  }

  p {
    font-size: 0.8rem;
    text-align: center;
   }
  
   h1 {
    font-size: 2rem;
   }

   li {
    font-size: 0.55rem;
  }

  .top {
    gap:2px;
  }

  .bottom img {
    max-width: 475px;
    min-width: 300px;
  }
 
  .bottom .body {
    max-width: 475px;
    min-width: 300px;
  }

  header .logo {
    width: 60px;
    height: 30px;
    border-radius: 10px;
}
  
.qoute p {
  font-size: 1rem;
}

.qoute p:nth-child(2) {
  font-size: .8rem;
}
}